server:
    rundir: "/run/knot"
    user: knot:knot
    listen: [ 0.0.0.0@53, ::@53 ]

log:
  - target: stdout
    any: debug
    zone: debug

# remote:
#   - id: primary_server
#     address: 172.28.1.2@53

# remote:
#   - id: secondary_server
#     address: 172.28.1.3@53

# acl:
#   - id: notify_from_primary_server
#     address: 172.28.1.2
#     action: notify

# acl:
#   - id: allow_transfer_from_secondary
#     address: 172.28.1.3
#     action: [notify, transfer]


template:
  - id: rest2dns
    storage: "/etc/knot/zones"
    # master: primary_server
    # notify: secondary_server
    # acl: notify_from_primary_server
    # acl: allow_transfer_from_secondar

include: "/etc/knot/knot-zones.conf"
